:root {
  /* Layout tokens */
  --layout-gap-block: 2rem;
  --layout-gap-inline: 2rem;
  --breakpoint-mobile: 768px;

  /* Typography tokens */
  --font-family-base: "Source Sans Pro", sans-serif;
  --font-family-heading: "Cabin", sans-serif;
  --font-size-base: 1rem;
  --line-heihgt-base: 1.5;
  --color-text: hsl(12, 5%, 4%);
  --color-border: hsl(17, 24%, 90%);
}

@media (max-width: 768px) {
  :root {
    --layout-gap-inline: 1rem;
  }
}
